<section class="row">
  <form ng-submit="displayNew.create()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="name" ng-model="displayNew.display.name" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Theme</label>
      <input type="text" name="theme" placeholder="theme" ng-model="displayNew.display.theme" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Public</label>
      <input type="radio" name="status" value="true" ng-model="displayNew.display.public" class="u-full-width">Yes
      <input type="radio" name="status" value="false" ng-model="displayNew.display.public" class="u-full-width">No
    </div>
    <div class="twelve columns">
      <label>Archived</label>
      <input type="radio" name="archived" value="true" ng-model="displayNew.display.archived" class="u-full-width">Yes
      <input type="radio" name="archived" value="false" ng-model="displayNew.display.archived" class="u-full-width">No
    </div>
    <div class="twelve columns">
      <label>Items:</label>
      <ul>
        <label ng-repeat="item in main.items">
          {{ item.name }}
          <input type="checkbox" ng-true-value="{{ item.id }}" ng-false-value="null" ng-model="displayNew.display.item_ids[$index]">
        </li>
      </ul>
    </div>
    <button>Create</button>
  </form>
</section>

<!-- ng-model="displayNew.display.item_ids[$index] -->
