<section class="row">
  <form ng-submit="itemEdit.update()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="name" ng-model="itemEdit.item.name" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Description</label>
      <input type="text" name="theme" placeholder="theme" ng-model="itemEdit.item.description" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="image" placeholder="theme" ng-model="itemEdit.item.image" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Found in:</label>
      <!-- {{ displayEdit.display.name }} -->
      <ul>
        <label ng-repeat="display in main.displays">
          {{ display.name }}
          <input type="checkbox" ng-true-value="{{ display.id }}" ng-false-value="null" ng-model="itemEdit.item.display_ids[$index]">
        </li>
      </ul>
    </div>
    <div class="twelve columns">
      <label>Add to:</label>
      <!-- {{ displayEdit.display.name }} -->
      <ul>
        <label ng-repeat="display in main.currentUser.displays">
          {{ display.name }}
          <input type="checkbox" ng-true-value="{{ display.id }}" ng-false-value="null" ng-model="itemEdit.item.display_ids[$index]">
        </li>
      </ul>
    </div>
    <button>Update</button>
  </form>
  <a ng-click="itemEdit.delete()">Delete</a>
  <a ui-sref="itemsIndex">Back</a>
</section>
