<section >
<h2>Name: {{ userShow.user.username }}</h2>
<h3>Image: <img src= {{userShow.user.image}} alt="" /></h3>
<h3>Contact: {{ userShow.user.email }}</h3>
<h4>Displays:</h4>
<ul ng-repeat="display in userShow.user.displays">
  <a ui-sref="displayShow({id: display.id})">
    <li>{{display.name}}</li>
  </a>
</ul>
<h4>Items:</h4>
<ul ng-repeat="item in userShow.user.items">
  <a ui-sref="itemShow({id: item.id})">
    <li>{{item.name}}, Description: {{item.description}}</li>
  </a>
</ul>
<h3>About: {{userShow.user.about}}</h3>
<h3>Interests: {{userShow.user.interests}}</h3>
<h3>Location: {{userShow.user.location}}</h3>
</section>
