<section class="row">
  <form ng-submit="userEdit.update()">
    <div class="twelve columns">
      <label>Username</label>
      <input type="text" name="title" placeholder="Title" ng-model="userEdit.user.username" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>E-Mail</label>
      <input type="text" name="director" placeholder="Director" ng-model="userEdit.user.email" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>About</label>
      <input type="text" name="director" placeholder="Director" ng-model="userEdit.user.about" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>location</label>
      <input type="text" name="director" placeholder="Director" ng-model="userEdit.user.location" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Interests</label>
      <input type="text" name="director" placeholder="Director" ng-model="userEdit.user.interests" class="u-full-width">
    </div>
    <button>Update</button>
  </form>
</section>
