<section>
  <h1>Display Index</h1>
  <a ui-sref="displayNew" ui-sref-active="active">New</a>
  <ul>
    <li ng-repeat="display in displaysIndex.all">
      <h2>Name: {{ display.name }}</h2>
      <h3>Owner: {{ display.user.username }}</h2>
      <h3>Theme: {{ display.theme }}</h4>
      <p>Archived? {{display.archived}}</p>
      <p>Public? {{display.public}}</p>
      <ul ng-repeat="item in display.items">
        <li >{{item.name}}</li>
      </ul>

        <a ui-sref="displayShow({id: display.id})" ui-sref-active="active">Show</a>
      <!-- <div ng-if="displaysIndex.isOwnDisplay(display)"> -->


        <a ng-show="main.currentUserId == display.user.id" ui-sref="displayEdit({id: display.id})" ui-sref-active="active">Edit</a>
      <!-- </div> -->
    </li>
  </ul>
</section>
