<section class="row">
  <form ng-submit="displayEdit.update()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="name" ng-model="displayEdit.display.name" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Theme</label>
      <input type="text" name="theme" placeholder="theme" ng-model="displayEdit.display.theme" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Items:</label>
      <!-- {{ displayEdit.display.name }} -->
      <ul>
        <label ng-repeat="item in displayEdit.allItems">
          {{ item.name }}
          <input type="checkbox" ng-true-value="{{ item.id }}" ng-false-value="null" ng-model="displayEdit.display.item_ids[$index]">
        </li>
      </ul>
    </div>
    <button>Update</button>
  </form>
</section>
