<section class="row">
  <form ng-submit="displayNew.create()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="name" ng-model="displayNew.display.name" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Theme</label>
      <input type="text" name="theme" placeholder="theme" ng-model="displayNew.display.theme" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Public</label>
      <input type="radio" name="owner" value="true" ng-model="displayNew.display.public" class="u-full-width">
      <input type="radio" name="owner" value="false" ng-model="displayNew.display.public" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Items:</label>
      <!-- {{ displayEdit.display.name }} -->
      <ul>
        <label ng-repeat="item in main.items">
          {{item.name}} - - {{ item.id }}
          <input type="checkbox" value="{{ item.id }}" ng-model="displayNew.display.item_ids[item.id]">
        </li>
      </ul>
    </div>
    <button>Create</button>
  </form>

{{displayNew.display}}
</section>

<!-- ng-model="displayNew.display.item_ids[$index] -->
