<section >
  <h1>Item</h1>
    <!-- <p>Name: {{ itemShow.item.name}}</p>
    <p>Owner: {{ itemShow.item.user.username}}</p>
    <p>Description: {{ itemShow.item.description}}</p> -->

<!-- {{itemShow.item.displays[0].id}} -->
    <div class="card">
    <img class="card-img-top" src= {{itemShow.item.image}} alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Name: {{ itemShow.item.name}}</h4>
        <p class="card-text">
          Owner: {{ itemShow.item.user.username}}
          <br>
          Description: {{ itemShow.item.description}}
          <br>
          Displays:
          <ul>
            <li ng-repeat="display in itemShow.item.displays">
              <a ui-sref='displayShow({id: display.id})'>
                <p>{{ display.name}}</p>
              </a>
            </li>
          </ul>
          <a class="card-link" ng-show="main.currentUserId == itemShow.item.user.id" ui-sref="itemEdit({id: itemShow.item.id})" ui-sref-active="active">Edit</a>
          <a ng-click="itemShow.delete(item.id)">Delete</a>
          <br>
          <a ui-sref="itemsIndex">Back</a>
      </div>
    </div>

</section>
