<section class="row">
  <form ng-submit="itemNew.create()">
    <div class="twelve columns">
      <label>Name</label>
      <input type="text" name="name" placeholder="name" ng-model="itemNew.item.name" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Image</label>
      <input type="text" name="image" placeholder="img url" ng-model="itemNew.item.image" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Description</label>
      <input type="text" name="theme" placeholder="theme" ng-model="itemNew.item.description" class="u-full-width">
    </div>
    <div class="twelve columns">
      <label>Context</label>
      <input type="text" name="context" placeholder="context" ng-model="itemNew.item.link_context" class="u-full-width">
    </div>
    <!-- <div class="twelve columns">
      <label>Displays:</label>
      <ul>
        <label ng-repeat="display in main.displays">
          {{display.name}}
          <input type="checkbox" value="{{ display.id }}" ng-model="itemNew.item.display_ids[display.id]">
        </li>
      </ul>
    </div> -->
    <button>Create</button>
  </form>
</section>
